* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  background: url("/images/bg-simplify-section-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.topheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.links li {
  margin-right: 30px;
}

.links li a {
  text-decoration: none;
  color: #242d52;
  font-size: 16px;
}

.links li a:hover {
  color: #9095a7;
}

.logo {
  padding-top: 10px;
}

.btn {
  background-color: #f25f3a;
  color: white;
  padding: 12px 25px;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #F98F75;
}

.menu-icon {
  display: none;
  background-image: url("/images/icon-hamburger.svg");
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding-top: 50px;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-size: 48px;
  color: #242d52;
}

.introduction header {
  max-width: 500px;
}

.introduction header p {
  color: #9095a7;
  max-width: 380px;
  font-weight: 400;
  margin: 20px 0;
}

.introduction figure img {
  height: 400px;
}

h2 {
  color: #242d52;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.about header p {
  color: #9095a7;
  font-weight: 400;
  margin: 20px 0;
  max-width: 400px;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  max-width: 450px;
}

.item-id {
  background-color: #f25f3a;
  color: white;
  padding: 8px 20px;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  color: #242d52;
}

.item-description {
  margin-left: 20px;
  padding-top: 7px;
}

.item-description p {
  margin-top: 10px;
  color: #9095a7;
}

.testimonials {
  text-align: center;
  margin: 30px 0;
}

.slider-item {
  min-height: 200px;
  max-width: 500px;
  background-color: #fafafa;
  margin-right: 30px;
  padding: 50px 25px 10px 25px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.slider-item figure img {
  position: absolute;
  top: -5px;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60px;
  z-index: 2000;
}

.slider-item p {
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #9095a7;
}

.testimonials .btn {
  margin: 20px;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 30px;
}

.slick-dots li {
  display: inline-block;
  padding-left: 15px;
  border: transparent;
}

.slick-dots li button {
  display: inline-block;
  height: 12px;
  width: 12px;
  font-size: 0px;
  border: 3px solid #f25f3a;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

li.slick-active button {
  background-color: #f25f3a;
}

.top-footer {
  background-color: #f25f3a;
  margin-top: 100px;
}

.top-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-footer div h2 {
  color: #fff;
}

.top-footer-button {
  background-color: #fff;
  color: #f25f3a;
  padding: 12px 25px;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.top-footer-button:hover {
  color: #F98F75;
}

.bottom-footer {
  background-color: #1d1e25;
}

.bfooter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}

.social-medias svg:hover {
  cursor: pointer;
}

.social-medias svg:hover path {
  fill: #f25f3a;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 0;
}

.footer-links a:hover {
  color: #f25f3a;
}

.footer-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.signin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.signin form input {
  background-color: #fff;
  padding: 12px 12px;
  border: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
}

.signin form .error {
  position: absolute;
  top: 43px;
  left: 12px;
  color: red;
  font-size: 12px;
  font-style: italic;
  display: none;
}

.signin .copyright {
  font-size: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #9095a7;
}

.attribution {
  background-color: #1E1E24;
  text-align: center;
  color: #9095a7;
  font-size: 8px;
}

.attribution a {
  text-decoration: none;
  color: #9095a7;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about.container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 800px) {
  .topnav .btn {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .links {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
    right: -250%;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    top: 100px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
  }
  .links li {
    padding: 20px 0;
  }
  .links.responsive {
    display: block;
    right: 5%;
  }
  .menu-icon.responsive {
    background-image: url(/images/icon-close.svg);
  }
  .introduction {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .introduction header p {
    max-width: none;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about header {
    padding: 0 20px;
  }
  .about header h2,
  .about header p {
    text-align: center;
  }
}

@media (max-width: 800px) and (max-width: 700px) {
  .bfooter-box {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 70px 0;
    position: relative;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .contacts .social-medias {
    padding-top: 0;
    width: 70%;
    margin-bottom: 40px;
  }
  .footer-links {
    margin: 40px 0;
    width: 60%;
  }
  .copyright {
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 800px) and (max-width: 600px) {
  .top-footer div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .top-footer div h2 {
    margin: 20px 0;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }
  .introduction figure img {
    height: 300px;
  }
  .about-list {
    width: 100%;
    padding: 0;
  }
  .about-item {
    position: relative;
    width: 100%;
    max-width: none;
    padding-bottom: 40px;
  }
  .item-id {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1000;
    padding: 10px 25px;
  }
  .item-description {
    padding-top: 0;
    margin-left: 0;
    position: relative;
    width: 100%;
  }
  .item-description h3 {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 14px;
    width: calc(100% - 60px);
    background-color: #ffefeb;
    padding: 10px 0px 6px 30px;
    overflow: hidden;
  }
  .item-description p {
    position: relative;
    top: 40px;
    left: 30px;
    max-width: 80%;
  }
  .slider-item p {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 28px;
  }
  .introduction figure img {
    height: 250px;
  }
  .slider-item p {
    max-width: 250px;
  }
}
/*# sourceMappingURL=styles.css.map */