@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  background: url('/images/bg-simplify-section-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.topheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.links li {
  margin-right: 30px;
}
.links li a {
  text-decoration: none;
  color: $primaryBlue;
  font-size: 16px;
}
.links li a:hover {
  color: $darkGrayishBlue;
}
.logo {
  padding-top: 10px;
}
.btn {
  background-color: $primaryRed;
  color: white;
  padding: 12px 25px;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color: $hoverOrange;
}
.menu-icon {
  display: none;
  background-image: url('/images/icon-hamburger.svg');
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  padding-top: 50px;
}
.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 48px;
  color: $primaryBlue;
}
.introduction header {
  max-width: 500px;
}
.introduction header p {
  color: $darkGrayishBlue;
  max-width: 380px;
  font-weight: 400;
  margin: 20px 0;
}
.introduction figure img {
  height: 400px;
}
h2 {
  color: $primaryBlue;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.about header p {
  color: $darkGrayishBlue;
  font-weight: 400;
  margin: 20px 0;
  max-width: 400px;
}
.about-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  max-width: 450px;
}
.item-id {
  background-color: $primaryRed;
  color: white;
  padding: 8px 20px;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  color: $primaryBlue;
}
.item-description {
  margin-left: 20px;
  padding-top: 7px;
}
.item-description p {
  margin-top: 10px;
  color: $darkGrayishBlue;
}

.testimonials {
  text-align: center;
  margin: 30px 0;
}

.slider-item {
  min-height: 200px;
  max-width: 500px;
  background-color: $veryLightGray;
  margin-right: 30px;
  padding: 50px 25px 10px 25px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.slider-item figure img {
  position: absolute;
  top: -5px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  z-index: 2000;
}
.slider-item p {
  margin-top: 10px;
  flex-grow: 1;
  color: $darkGrayishBlue;
}
.testimonials .btn {
  margin: 20px;
}
.slick-dots {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 30px;
}
.slick-dots li {
  display: inline-block;
  padding-left: 15px;
  border: transparent;
}
.slick-dots li button {
  display: inline-block;
  height: 12px;
  width: 12px;
  font-size: 0px;
  border: 3px solid $primaryRed;
  border-radius: 50%;

  background-color: transparent;

  cursor: pointer;
}
li.slick-active button {
  background-color: $primaryRed;
}
.top-footer {
  background-color: $primaryRed;
  margin-top: 100px;
}
.top-footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.top-footer div h2 {
  color: #fff;
}
.top-footer-button {
  background-color: #fff;
  color: $primaryRed;
  padding: 12px 25px;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.top-footer-button:hover {
  color: $hoverOrange;
}
.bottom-footer {
  background-color: $veryDarkBlue;
}
.bfooter-box {
  display: flex;
  align-items: flex-start;
  height: 150px;
  justify-content: space-between;
  padding: 30px 0;
}
.social-medias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  svg:hover {
    cursor: pointer;
    path {
      fill: $primaryRed;
    }
  }
}
.links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 0;
    &:hover {
      color: $primaryRed;
    }
  }
  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    input {
      background-color: #fff;
      padding: 12px 12px;
      border: 0;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      margin-right: 15px;
    }
    .error{
      position: absolute;
      top: 43px;
      left: 12px;
      color: red;
      font-size: 12px;
      font-style: italic;
      display: none;
    }
  }
  .copyright{
    font-size: 10px;
    align-self: flex-end;
    color: $darkGrayishBlue;
  }
  
}

@media (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about.container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 800px) {
  .topnav .btn {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .links {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
    right: -250%;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    top: 100px;
    transition: all 0.3s;
    border-radius: 5px;
  }
  .links li {
    padding: 20px 0;
  }
  .links.responsive {
    display: block;
    right: 5%;
  }
  .menu-icon.responsive {
    background-image: url(/images/icon-close.svg);
  }
  .introduction {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .introduction header p {
    max-width: none;
  }
  .about {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .about header {
    padding: 0 20px;
  }
  .about header h2,
  .about header p {
    text-align: center;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }
  .introduction figure img {
    height: 300px;
  }
  .about-list {
    width: 100%;
    padding: 0;
  }
  .about-item {
    position: relative;
    width: 100%;
    max-width: none;
    padding-bottom: 40px;
  }
  .item-id {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1000;
    padding: 10px 25px;
  }
  .item-description {
    padding-top: 0;
    margin-left: 0;
    position: relative;
    width: 100%;
  }
  .item-description h3 {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 14px;
    width: calc(100% - 60px);
    background-color: $veryPaleRed;
    padding: 10px 0px 6px 30px;
    overflow: hidden;
  }
  .item-description p {
    position: relative;
    top: 40px;
    left: 30px;
    max-width: 80%;
  }
  .slider-item p {
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 28px;
  }
  .introduction figure img {
    height: 250px;
  }
  .slider-item p {
    max-width: 250px;
  }
}
